[python: app.py]
[jinja2: templates/index.html]
[jinja2: templates/about.html]
[jinja2: templates/services.html]
[jinja2: templates/contact.html]
[jinja2: templates/partials/footer.html]
[jinja2: templates/partials/navbar.html]
[jinja2: templates/login.html]
[jinja2: templates/register.html]
[jinja2: templates/forgot_password.html]
[jinja2: templates/reset_password.html]
[jinja2: templates/login_2fa.html]
[jinja2: templates/dashboard.html]
[jinja2: templates/order_create.html]
[jinja2: templates/my_orders.html]
[jinja2: templates/account.html]
[jinja2: templates/account_2fa_setup.html]
[jinja2: templates/upload.html]
[jinja2: templates/generator.html]
[jinja2: templates/detail_dxf_dashboard.html]
[jinja2: templates/error.html]
