<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Трафком ООД",
    "url": {{ url_for('index', _external=True)|tojson }},
    "logo": {{ url_for('static', filename='img/hero_poster.png', _external=True)|tojson }},
    "image": {{ url_for('static', filename='img/hero_poster.png', _external=True)|tojson }},
    "telephone": "+359886762276",
    "email": "trafcom@trafcombg.com",
    "foundingDate": "1997",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. „Александър Стамболийски“ 36",
        "addressLocality": "Тетевен",
        "postalCode": "5700",
        "addressCountry": "BG"
    },
    "description": "CNC обработка на метали - фрезоване, струговане и лазерно рязане в гр. Тетевен от 1997 г."
}
</script>
