<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Трафком ООД",
    "image": {{ url_for('static', filename='img/favicon/android-chrome-512x512.png', _external=True)|tojson }},
    "url": {{ url_for('index', _external=True)|tojson }},
    "telephone": "+359886762276",
    "email": "trafcom@trafcombg.com",
    "foundingDate": "1997",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Александър Стамболийски 36",
        "addressLocality": "Тетевен",
        "postalCode": "5700",
        "addressCountry": "BG"
    }
}
</script>
